body {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  font-family: "Catamaran", sans-serif;
  font-size: larger;
  font-weight: 800;
}
.form-container {
  width: 25rem;
  height: 10rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background: #093e1a;
  padding: 2rem;
  border-radius: 10px;
  flex-shrink: 0;
}

.reset input {
  width: 90%;
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid silver;
}

.forgot {
  background-color: #d1a40e;
  padding: 0.5rem;
  width: 5rem;
  border: 1px solid silver;
  border-radius: 5px;
}

.forgot:hover {
  background-color: #91741f;
}
