table {
  border-collapse: collapse;
  /* border: 2px solid rgb(200, 200, 200); */
  letter-spacing: 1px;
  font-size: 0.8rem;
}

th {
  border-top: 1px solid rgb(190, 190, 190);
  border-bottom: 1px solid rgb(190, 190, 190);
}

td,
th {
  /* border: 1px solid rgb(190, 190, 190); */
  padding-right: 5rem;
  padding-block: 0.5rem;
  padding-left: auto;
}
